@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-ibm-plex-mono) !important;
  --font-text: var(--font-outfit);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body.transitioning {
  overflow: hidden;
}

